.obj-wrapper {
	position: absolute;
	z-index: 16;
}

.scuba-state {
  position: absolute;
  background-color: gray;
  border-radius: 5px;
  padding: 1px;
  z-index: 500;
}

.scuba-state div {
   background-color: green;
   width: 70%; /* counter */
   height: 5px;
   border-radius: 5px;
 }
 
.fish-front {
	position: absolute;
	z-index: 1000;
	left: 220px;
	top: 360px;
	width: 99px;
	height: 72px;
	background-image: url(images/fishes.png);
}

.top-text {
	position: absolute;
	z-index: 1000;
	left: 35px;
	top: 20px;
	width: 309px;
	height: 21px;
	background-image: url(images/text.png);
}

.btn {
	position: absolute;
	z-index: 16;
	width: 163px;
	height: 32px;
	top: 16px;
}

.add-diver {
    left: 570px;
    background-image: url(images/add-diver.png);
}

.add-diver:hover {
    background-image: url(images/add-diver-hover.png);
}

.delete-diver {
    left: 391px;
    background-image: url(images/delete-diver.png);
}

.delete-diver:hover {
    background-image: url(images/delete-diver-hover.png);
}
